<!DOCTYPE html>
<html>
	<head>
    	<title>Weatherati</title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
  	</head>
  	<body>
  		<div class="bodyDiv">
			<div class="titlebar">
				<div>
					<image src="./images/weatherati.png">
				</div>
				<h1>
					Weatherati
					<br/>
					<div class="blurb">
						Does the weather control the stock market?
					</div>
				</h1>
								<div style="clear:both;"></div>
			</div>
			<div style="clear: both;">
			</div>
			<ul id="header">
				<li id="hourSpan" class="<%= requestSpan == 'hour' ? 'current' : '' %>">By-Hour</li>
				<li id="minuteSpan" class="<%= requestSpan == 'minute' ? 'current' : '' %>">By-Minute</li>
			</ul>
			<div id="tab1">			
				<div id="graph">
				</div>
				<div class="dateControlBox">
				<div class="dateControl" id="previousDay">
						Previous Day
				</div>
				<div class="dateBox">
					<div id="currentDay"></div>
					<div>Trading Day (9:20 AM - 4:10 PM New York Time)</div>
				</div>
				<div class="dateControl" id="nextDay">
						Next Day
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="clear:both;"></div>
				<table id="dataTable">
				</table>
				<div style="clear: both"></div>
			</div>
			<script src="/javascripts/d3.v2.js"></script>
			<script src="/javascripts/ejs_production.js"></script>
			<script src="/javascripts/moment.min.js"></script>
			<script src="/javascripts/displayGraph.js"></script>
			<script>
				var date = moment('<%= requestDate %>', "MM-DD-YYYY");
				if(!date){
					date = moment();
				}
				var span = '<%= requestSpan %>';
				if(!span){
					span = 'hour';
				}
				loadData(date.format('MM-DD-YYYY'), span);
				d3.select("#currentDay").html(date.format("MMM D, YYYY"));	
			</script>
		</div>
	</body>
</html>